

<div class="card-1">
            <img id="hamburger-classic" src="~/images/classic.jpg" class="card-img-top" alt="dove siamo"></a>
            <div class="card-body">
              <h5 class="card-title">Menù Classic</h5>
              <p class="card-text">I classici non passano mai di moda</p>
              <p class="card-text">12,00€</p>
              <button type="button" class="btn btn-warning aa"  data-nome="Menù Classic">Aggiungi al carrello</button>
            </div>
          </div>

          <div class="card-2">
            <img id="hamburger-special" src="~/images/special.jpg" class="card-img-top" alt="dove siamo"></a>
            <div class="card-body">
              <h5 class="card-title">Menù Special</h5>
              <p class="card-text">Ogni mese un panino! Ogni morso una lotta!</p>
              <p class="card-text">18,00€</p>
              <button type="button" class="btn btn-warning aa"  data-nome="Menù Special">Aggiungi al carrello</button>
            </div>
          </div>

          <div class="card-3">
            <img id="vegetarian-meals" src="~/images/Vegetarian.jpg" class="card-img-top" alt="contatti"></a>
            <div class="card-body">
              <h5 class="card-title">Menù Vegetariano</h5>
              <p class="card-text"> Abbiamo tanti gusti esotici e green!</p>
              <p class="card-text">20,00€</p>
              <button type="button" class="btn btn-warning aa"  data-nome="Menù Vegetariano">Aggiungi al carrello</button>
            </div>
</div>