<<<<<<< HEAD
﻿
=======
﻿@{
    ViewData["Title"] = "Home Page";
}

    <div class="card-1">
            <a href="../menu.html"><img id="hamburger" src="~/images/hamburger.jpg" class="card-img-top1" alt="menu"></a>
              <div class="card-body">
                <h5 class="card-title">Menù</h5>
                <p class="card-text">Clicca sull'immagine per selezionare uno dei nostri menù! Dalla carne alla cucina vegana, soddisfiamo qualsiasi palato!</p>
                <br>
              </div>
    </div>

    <div class="card-2">
      <a href="../dovetrovarci.html"><img id="location" src="~/images/location.png" class="card-img-top" alt="dove siamo"></a>
        <div class="card-body">
          <h5 class="card-title">Dove siamo</h5>
            <p class="card-text">Clicca sull'immagine e vieni a trovarci!</p>
        </div>
    </div>

    <div class="card-3">
      <a href="#"><img id="social" src="~/images/social.jpg" class="card-img-top" alt="contatti"></a>
        <div class="card-body">
            <h5 class="card-title">Contatti e info social</h5>
            <p class="card-text">Clicca sull'immagine per scoprire come contattarci e dove seguirci!</p>
        </div>
    </div>
>>>>>>> Franceso-Giovanni
